.main_container {
  margin-bottom: 2rem;
  background-color: var(--dark-color);
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.expirence_section {
  margin: 2rem;
}

.expirence_section .card {
  margin: 3rem 0;
  border: 0.1px solid var(--border-color);
  padding: 2rem 1rem;
}

.expirence_section .card h4 {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  margin: 0.5rem 0;
}

.expirence_section .card h6 {
  color: var(--gray-color);
}

.expirence_section .card p {
  color: var(--gray-color);
}

.expirence_section .card span {
  color: var(--blue-color);
  font-weight: 500;
  font-size: 12px;
}

.frameworks {
  margin: 2rem;
  border: 0.1px solid var(--border-color);
}

.frameworks .card {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: none;
}

.frameworks .info_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
}

.frameworks h5,
.frameworks p {
  color: var(--white-color);
}

.frameworks .card .progressbar {
  width: 100%;
  height: 3px;
  background-color: var(--gray-color);
}

.frameworks .card .progressbar span {
  height: 100%;
  background-color: var(--blue-color);
}

.tools_section {
  margin: 2rem;
  border: 0.1px solid var(--border-color);
  padding: 2rem 1rem;
}

.tools_section div {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.tools_section div h4 {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  margin-left: 2rem;
}

.tools_section .icon {
  font-size: 25px;
  font-weight: 500;
  color: var(--blue-color);
}

.languages {
  margin: 2rem;
}

.languages .card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "item1 item2"
    "item3 item3";
  border: 0.1px solid var(--border-color);
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}

.languages .card div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}

.languages .card h4 {
  color: var(--white-color);
  margin-top: 1rem;
  font-weight: 500;
}

.languages .card span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 4px solid var(--blue-color);
}

.projects {
  margin: 2rem;
  padding: 1rem;
}

.form {
  margin: 2rem;
  padding: 2rem 1rem;
  border: 0.1px solid var(--border-color);
}

.form .form_controller {
  margin: 2rem;
}

.form_controller input {
  display: block;
  width: 100%;
  outline: none;
  border-bottom: 0.5px solid var(--border-color);
  padding-bottom: 0.5rem;
  background-color: transparent;
}

.form_controller textarea {
  display: block;
  width: 100%;
  outline: none;
  border-bottom: 0.5px solid var(--border-color);
  padding: 0.5rem 0 1rem 0;
  background-color: transparent;
  height: 7rem;
}

.form_controller input:placeholder {
  color: var(--gray-color);
}

.form .form_controller .submit {
  display: inline-block;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  font-weight: 500;
  padding: 0.5rem 2rem;
  text-align: center;
  margin: auto;
}
